@import url(style.css);


.conteiner-about {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

.foto-about {
  width: 387px;
  height: 370px;
  background-color: var(--cor-cinza-stroke);
  border-radius: 20px;
  flex-shrink: 0; /* impede a foto de encolher */
}

.about-descricao {
  display: flex;
  flex-direction: row;
  align-items: center; /* centraliza verticalmente */
  gap: 40px; /* espaço entre foto e texto */
  max-width: 1000px;
}

.about-text {
  font-size: 15px;
  line-height: 1.6;
  text-align: left; /* IMPORTANTE */
  max-width: 500px;
  color: var(--cor-branco-font); /* opcional, se for tema escuro */
}
.my-stack{
  text-align: center;
  font-family: var(--fonte-title);
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
  background: linear-gradient(90deg, #ffffff 0%, #9e9e9e 60%, #6d6d6d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3em;
}

.stack-fundo {
  width: 86px;
  height: 74px;
  display: flex;                 /*  ESSENCIAL */
  align-items: center;           /* centraliza vertical */
  justify-content: center;       /* centraliza horizontal */

  border-radius: 20px;
  border: 1px solid var(--cor-cinza-stroke);

  background: #0f0f0f;           /* fundo escuro */
  box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.03),
    0 8px 20px rgba(0,0,0,0.6);
}

.stack-fundo img {
  width: 36px;
  height: auto;
}
.stack-fundo:hover {
  transform: translateY(-4px);
  transition: 0.3s ease;
  box-shadow: 0 12px 28px rgba(0,0,0,0.8);
}

.stack-ticker {
  overflow: hidden;
  width: 100%;
  padding: 16px 0;
}
/* Fade nas laterais (estilo loja premium) */
.stack-ticker::before,
.stack-ticker::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
}

.stack-track {
  display: flex;
  gap: 16px;
  width: max-content;
}

.stack-group {
  display: flex;
  gap: 16px;
}