@import url(style.css); 


.conteiner-contact{
    margin-top: 3em;
    background-color: var(--azul-detalhes);
    padding: 60px 80px;
}

.contact-wrapper{
    max-width: 640px;
}

.contact-title{
    font-size: 22px;
    margin-bottom: 32px;
    color: #000;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-field input,
.contact-field textarea{
    width: 100%;
    background-color: #e5e5e5;
    border: 2px solid var(--cor-preto-stroke);
    padding: 12px 14px;
    font-size: 14px;
    outline: none;
}

.contact-field textarea{
    height: 140px;
    resize: none;
}

.contact-actions button{
    width: 140px;
    height: 42px;
    background-color: #e5e5e5;
    border: 2px solid #000;
    font-weight: bold;
    cursor: pointer;
}


.contact-buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.contact-link {
    width: 82px;
    height: 70px;

    background-color: var(--azul-detalhes);

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-left: 3px solid #000;
    border-bottom: 9px solid #000;

    border-radius: 14px;
    cursor: pointer;

    transition: transform 0.2s ease;
}

.contact-link a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-link:hover {
    transform: translateY(-3px);
}
