@import url(style.css); 

.contact-buttons{
    width: 90px;
    display: inline-flex;  
    align-items: center;
    gap: 12px;

    padding: 14px 22px;
    border: 3px solid var(--cor-branco-font);
    border-bottom-width: 9px;
    border-radius: 14px;

    color: var(--cor-branco-font);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

    background: transparent;
    transition: all 0.3s ease;
}