@import url(style.css); 

/*@media (max-width: 1024px) {
  .hero-title {
    font-size: 52px;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 36px;
  }
}*/

.title{
    font-family: var(--fonte-title);
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    background: linear-gradient(
      90deg,
      #e5e7eb 0%,   /* cinza claro metálico */
      #9ca3af 45%,  /* cinza médio */
      #2F7CFF 100%  /* azul principal */
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    margin-bottom: 10em;
    gap: 43px;
}
.me{
    display: flex;
    flex-direction: column;
}
.foto-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 4px rgba(255,255,255,0.05);
}
.home-texto{
    display: flex;
    flex-direction: column;
}
.home-buttons{
    width: 170px;
    display: inline-flex;
    align-items: center;
    gap: 12px;

    padding: 14px 22px;
    border: 3px solid var(--cor-branco-font);
    border-bottom-width: 9px;
    border-radius: 14px;

    color: var(--cor-branco-font);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

    background: transparent;
    transition: all 0.3s ease;
}
.home-buttons:hover{
    padding: 14px 22px;
    border: 3px solid var(--azul-detalhes);
    border-bottom-width: 9px;
    border-radius: 14px;
    transform: translateY(-2px);
}
